.box {
  width: 850px;
  height: 350px;
  padding: 50px;
  background-color: #dddd;
  position: absolute;
  top: 30%;
  left: 30%;
  margin-left: -160px;
  margin-top: -70px;
  box-shadow: 0 30px 30px black;
}
.box h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  margin-top: -25px;
}

.addButton {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  padding: 0.5rem 20px 0.5rem 20px;
}
.nameInput {
  background-color: #d6a528;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.imageInput {
  background-color: #d6a528;
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.button {
  display: flex;
  justify-content: center;
  width: 45vw;
  align-items: center;
}
