.box:hover {
  background-color: rgba(94, 154, 156, 0.552);
  border-radius: 2rem;
}
.box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid darkblue;
  padding: 0.5rem 0;
}
.body {
  padding: 1rem;
  font-size: 0.8rem;
}

img {
  padding: 0.5rem;
  width: 5rem;
}
span {
  padding: 1rem;
}
.button {
  padding: 0.35rem;
  color: white;
  background-color: black;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: white;
  color: black;
}
